<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Resolved
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120205
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title><%= @site_name %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#"><%= @site_name %></a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="/">Homepage</a></li>
				<li class="last current_page_item"><a href="/login">Login</a></li>
			</ul>
			<br class="clearfix" />
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div id="post1">
				<h2>Welcome, <%= @user_name %>, to <%= @site_name %>.</h2>
<p>
We help Rails apps 
scale,
in the cloud. 
</p>
<p>
Let's say you have a Rails app —
the usual 
(threaded or unthreaded, synchronous, 
Rails 3 
or 
Rails 2. Any kind of web app will do; 
it doesn't even have to be
Rails.) 
</p>
<p>
Maybe your app
slows to a crawl 
if external services you access 
aren't there (right away).
Because (you know) 
thousands (even 
sometimes 
scores) 
of Rails instances 
can't be up and running
at the same time.
</p>
<p>

Delays come from 
browser short-polling also —
checking too late, 
checking too early,
loading up the server.
(You know) 
you can't win
that way.
</p>
<p>
This makes the user experience ...
not really what it should be.
And that bothers you. 
(That's why you're so interested in 
node.js and asynchronous processing.)
But for a big app ...
it's too hard to code 
that way!
</p>
<p>
We can help. 
We can handle your
external webservice requests
(at your pleasure) 
with RabbitMQ, Memcache and PusherApp. 
When we receive a response to a request, 
we Memcache it (for you) 
and (directly)
tell your browser to try 
its AJAX request again. (See 
<a href="<%= @blog_post_url %>">this</a> 
blog post.)
</p>
<p>
Try it for free! 
— (at this time).
It couldn't be easier!
For setup information, email 
markdblackwell01 (at) @gmail.com
— (more info here soon).
</p>
<p>
If our service 
becomes 
terribly busy, 
we might start charging a few cents
(for some huge number of 
events,
or for an hour of clock time).
</p>
<p>
(Available soon.) 
</p>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<h3>News</h3>
			<div class="date-list">
				<ul class="list date-list">
					<li class="first last"><span class="date">July 9, 2012</span> <a href="#">Welcome</a></li>
				</ul>
			</div>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
Copyright (c) <%= @copyright_year %> <%= @owner_name %>, 
All rights reserved. 
'resolved' template design by <a href="http://www.freecsstemplates.org/">FCT</a>.
</div>
</body>
</html>
